html{
    background-image: linear-gradient(
        #e1eec3,#f05053);
    /* background-repeat: no-repeat;
    background-size: cover; */
  
}
body{
    /* margin-left: 20%; */
    width:100vw;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}
#divs h1{
    font-size: 40px;
    margin-top: 3rem;
}

#divs{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#demo{
    margin-top: 2rem;
    margin-right: 400px;
    background-color: #B2FEFA;
    height:0px;
    width: 0px;
    /* display: none; */
    display: flex;
    justify-content: center;
    position:relative;
    align-items: center ;
    transition: all 4s ease;
}

input{
    /* display: block; */
    text-align: center;
    width: 12rem;
    height: 3rem;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
button{
    text-align: center;
    width:11rem;
    font-weight: bold;
    height: 2.8rem;
    /* color: black; */
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: black;
    color: wheat;
}